@import "../composition/theme";

.profile {
  text-align: center;
  //width:60%;
  width: 350px;
  // font-weight: bold;

  .container {
    position: relative;

    #profile-title {
      font-size: 20px;
      padding: 10px 50px;
      border-bottom: 2px solid rgb(169, 168, 168);
      width: fit-content;
      margin: 0 auto 10px;
    }

    .profile-twitter,
    .profile-website {
      display: none;
    }

    ul {
      background-color: $accent-color;
      padding: 2em;
      border: 10px solid #e9e9e9;
      height: 170px;
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
      border-radius: 20px;
    }

    a {
      //border: 1px solid #E9E9E9;
      background-color: $accent-color;
      padding: 10px;
      transition: .2s;
      border-radius: 5px;
      display: block;
      width: fit-content;
      margin: 1em auto 0;
      border: 5px solid #e9e9e9;

      &:hover {
        background-color: $hover-color;
        color: white;
        //padding:18px;

        //color:white;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .profile {
    width: 350px;
    .container {
      a {
        right: 130px;
      }
    }
  }
}
